@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #41463d;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.container {
  height: 90%;
  width: 90%;
}

#start {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#begin {
  height: 50px;
  width: 150px;
  border: none;
  outline: none;
  background: #1cfeba;
  font-size: 2rem;
  border-radius: 5px;
}
#begin:hover {
  cursor: pointer;
  background: #95f2d9;
}

.hide {
  display: none;
}
